<h1>Upload</h1>
<p>Hi! Welcome to the upload page</p>

<form method="post" enctype="multipart/form-data" action="/upload">
    <select name="bank" id="bank">
        <option value="HSBC">HSBC</option>
        <option value="AMEX">AMEX</option>
        <option value="another">another</option>
    </select>
    <input type="file" name="statement">
    <input type="submit" name="submit" value="Submit">
</form>