<h1>Upload</h1>
<p>Hi! Welcome to the upload page</p>

<!--<form method="post" enctype="multipart/form-data" action="/upload">-->
    <!--<select name="bank" id="bank">-->
        <!--<option value="HSBC">HSBC</option>-->
        <!--<option value="AMEX">AMEX</option>-->
        <!--<option value="another">another</option>-->
    <!--</select>-->
    <!--<input type="file" name="statement">-->
    <!--<input type="submit" name="submit" value="Submit">-->
<!--</form>-->

<form method="post" enctype="multipart/form-data" action="/upload">
    <div class="form-group">
        <label for="Bank Select">Please Select Your Bank</label>
        <select class="form-control" name="bank" id="bank">
            <option value="HSBC">HSBC</option>
            <option value="AMEX">AMEX</option>
            <option value="another">another</option>
        </select>
        <small id="fileHelp" class="form-text text-muted">
            It's important that you choose the correct bank here so that the data is understood correctly</small>
    </div>
    <div class="form-group">
        <label for="InputFile">File input</label>
        <input type="file" class="form-control-file" name="statement" id="statement" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">
            This will only accept CSV files.  You should be able to download this from your online banking</small>
    </div>
    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
</form>