<h1>Upload</h1>

    <h3>Update Data</h3>


{{#each data}}
    <form class="form-inline" action="/update" method="post">
    <label class="sr-only" for="id">ID</label>
    <input type="hidden" class="form-control mb-2 mr-sm-2 mb-sm-0" id="id" name="id" value="testvalue">

    <label class="sr-only" for="name">Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="name" name="name" value="{{this.name}}">

    <label class="sr-only" for="amount">Amount</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="amount" name="amount" value="{{this.amount}}">

    <label class="sr-only" for="date">Date</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="date" name="date" value="{{this.date}}">

    <label class="sr-only" for="category">Category</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="category" name="category" value="{{this.category}}">

    <button type="submit" class="btn btn-primary">Update</button>
    </form>
{{/each}}







    <label class="sr-only" for="inlineFormInput">Name</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe">

    <label class="sr-only" for="inlineFormInputGroup">Username</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">@</div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>





